// 共通・全体に影響する設定一覧
* {
  box-sizing : border-box;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.main {
  background-color: #f5f5f5;
  padding         : 40px 0;

  &__container {
    width : 1020px;
    margin: 0 auto;
  }
}
