// --------------------- マイページ トップ --------------------- //
.mypage {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;

  &__content {
    width: 700px;
  }
}

.mypage__content .user {
  width: 100%;
  height: 200px;
  background-image: image-url('common/user-bg.jpg');
  background-position: center;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 45px;

    &:hover {
      opacity: 0.7;

      h2 {
        text-decoration-line: underline;
      }
    }

    &__icon {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }

    &__nickname {
      margin-top: 8px;
      color: $black;
      font-size: 14px;
      text-align: center;
    }

    &__review {
      height: 16px;
      margin-top: 4px;
      line-height: 1;
      text-align: center;

      div {
        display: inline-block;
        height: 16px;
        color: $black;
        font-size: 14px;
        line-height: 1;

        &:last-child {
          margin-left: 16px;
        }

        span {
          display: inline-block;
          margin-left: 6px;
          font-weight: bold;
        }
      }
    }
  }
}

.mypage__content .purchase {
  width: 700px;
  height: 72px;
  margin-top: 40px;
  padding: 0 16px;
  background-color: $gray-hover;
  font-weight: bold;
  @include flex-vertical-center;
}

// --------------------- マイページ ログアウト --------------------- //
.mypage__content .logout {
  width: 100%;
  padding: 64px;
  background-color: $white;

  &__link {
    width: 320px;
    height: 50px;
    margin: 0 auto;
    background-color: $red;
    color: $white;
    font-size: 14px;
    @include flex-center;
  }
}

// --------------------- マイページ プロフィール --------------------- //
.mypage__content .profile {
  width: 100%;
  background-color: $white;

  &__head {
    width: 100%;
    height: 50px;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    @include flex-center;
  }

  &__form {
    &__user {
      width: 100%;
      padding: 72px 16px 24px;
      background-image: image-url('common/user-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;

      &__content {
        width: 100%;
        @include flex-center;

        img {
          display: inline-block;
          border-radius: 50%;
        }

        input {
          display: inline-block;
          width: 220px;
          height: 48px;
          margin-left: 8px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: $white;
          @include focus-field;
        }
      }
    }

    &__body {
      width: 100%;
      padding: 40px 16px 0;

      textarea {
        display: block;
        width: 100%;
        min-height: 216px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: $white;
        @include focus-field;
      }
    }

    &__actions {
      width: 100%;
      padding: 16px 16px 40px;

      input {
        width: 100%;
        height: 50px;
        background-color: $red;
        color: $white;
        font-size: 14px;
        @include flex-center;
      }
    }

    &__user .error, &__body .error {
      margin-top: 8px;
      color: $red;
      font-size: 14px;
      @include flex-horizontal-center;
    }
  }
}

// --------------------- マイページ 本人情報 --------------------- //
.mypage__content .identification {
  width: 100%;
  background-color: $white;

  &__head {
    width: 100%;
    height: 50px;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    @include flex-center;
  }

  &__description {
    width: 100%;
    height: 14px;
    color: $black;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }

  &__form {
    width: 100%;
    padding: 64px;

    &__field {
      width: 100%;
      margin-top: 40px;
      font-size: 0;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &__label {
        color: $black;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        vertical-align: bottom;
      }

      &__necessary {
        margin-left: 8px;
        padding: 3px 4px;
        background-color: $red;
        border-radius: 2px;
        color: $white;
        font-size: 12px;
        vertical-align: top;
      }

      &__option {
        margin-left: 8px;
        padding: 3px 4px;
        background-color: #ccc;
        border-radius: 2px;
        color: $white;
        font-size: 12px;
        vertical-align: top;
      }

      input {
        width: 100%;
        height: 48px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: $white;
        font-size: 16px;
        @include focus-field;
      }

      &__prefecture {
        position: relative;
        width: 100%;

        &__body {
          display: block;
          width: 100%;
          height: 48px;
          margin-top: 8px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: $white;
          font-size: 16px;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          @include focus-field;
        }

        i {
          position: absolute;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          color: #888;
          font-size: 18px;
          z-index: 5;
        }
      }

      &__birth {
        width: 100%;

        &__box {
          position: relative;
          display: inline-block;
          width: 140px;

          &__body {
            display: block;
            width: 100%;
            height: 48px;
            margin-top: 8px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $white;
            font-size: 14px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include focus-field;
          }

          i {
            position: absolute;
            top: 55%;
            right: 16px;
            transform: translateY(-45%);
            color: #888;
            font-size: 18px;
            z-index: 5;
          }
        }

        span {
          margin: 0 10px;
          color: $black;
          font-size: 14px;
        }
      }

      &__notice {
        margin-top: 8px;
        color: #888;
        font-size: 14px;
        line-height: 1.5;
      }

      .error {
        width: 100%;
        margin-top: 8px;
        color: $red;
        font-size: 14px;
        @include flex-horizontal-center;
      }
    }

    &__actions {
      width: 100%;
      margin-top: 40px;

      input {
        width: 100%;
        height: 50px;
        background-color: $red;
        color: $white;
        font-size: 14px;
        @include flex-center;
      }
    }

    &__link {
      display: block;
      margin-top: 40px;
      text-align: right;

      a {
        color: $light-blue;
        font-size: 0;
        @include hover;

        span, i {
          font-size: 14px;
        }
      }
    }
  }
}

// --------------------- マイページ 支払い方法 --------------------- //
.mypage__content .credit {
  width: 100%;
  background-color: $white;

  &__head {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid $gray-back;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    @include flex-center;
  }

  &__content {
    width: 100%;
    padding: 64px;

    &__head {
      width: 320px;
      height: 16px;
      margin: 0 auto;
      color: $black;
      font-size: 16px;
      line-height: 1;
      font-weight: bold;
    }

    &__card {
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid $gray-back;

      &__link {
        width: 320px;
        height: 50px;
        margin: 0 auto 8px;
        background-color: $red;
        @include flex-center;

        i {
          color: $white;
          font-size: 16px;
        }

        span {
          margin-left: 16px;
          color: $white;
          font-size: 14px;
        }
      }

      &__group {
        position: relative;
        width: 320px;
        margin: 0 auto;

        img {
          max-width: 49px;
          height: 20px;
          object-fit: contain;
        }

        &__info {
          margin-top: 8px;
          color: $black;
          font-size: 16px;
          line-height: 1;
        }

        &__submit {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px 6px;
          background: #fff;
          border-radius: 3px;
          border: 1px solid $red;
          color: $red;
          font-size: 14px;
          line-height: 1;
          cursor: pointer;
        }
      }
    }

    &__another-link {
      display: block;
      margin-top: 40px;
      color: $light-blue;
      font-size: 0;
      text-align: right;
      @include hover;

      i {
        font-size: 16px;
        line-height: 1;
      }

      span {
        margin-right: 8px;
        font-size: 14px;
        line-height: 1;
      }
    }

    &__form {
      width: 320px;
      margin: 0 auto;

      &__group {
        width: 100%;
        margin-top: 34px;

        &:first-of-type {
          margin-top: 0;
        }

        &__label {
          color: $black;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
        }

        &__necessary {
          margin-left: 8px;
          padding: 3px 4px;
          background-color: $red;
          border-radius: 2px;
          color: $white;
          font-size: 12px;
          vertical-align: top;
        }

        &__field {
          width: 100%;
          height: 48px;
          margin-top: 4px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: $white;
          font-size: 16px;
          @include focus-field;
        }

        &__card {
          display: flex;
          justify-content: flex-start;
          margin-top: 8px;

          li {
            height: 20px;
            margin-left: 8px;

            &:first-of-type {
              margin-left: 0;

              img {
                width: 49px;
              }
            }

            img {
              height: 100%;
              object-fit: contain;
            }
          }
        }

        &__select {
          position: relative;
          width: 114px;
          margin-top: 4px;

          &:before {
            position: absolute;
            display: block;
            font-family: "Font Awesome 5 Free";
            content: '\f078';
            width: 16px;
            height: 16px;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            color: #888;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            z-index: 5;
          }

          &:first-of-type {
            &:after {
              position: absolute;
              display: block;
              content: '月';
              width: 14px;
              height: 14px;
              top: 50%;
              right: -26px;
              transform: translateY(-50%);
              color: $black;
              font-size: 14px;
              line-height: 1;
            }
          }

          &:last-of-type {
            &:after {
              position: absolute;
              display: block;
              content: '年';
              width: 14px;
              height: 14px;
              top: 50%;
              right: -26px;
              transform: translateY(-50%);
              color: $black;
              font-size: 14px;
              line-height: 1;
            }
          }

          select {
            position: relative;
            width: 100%;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $white;
            font-size: 16px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include focus-field;
          }
        }

        &__help {
          width: 100%;
          height: 14px;
          text-align: right;

          &__icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $light-blue;
            color: $white;
            font-size: 12px;
            line-height: 1;
            text-align: center;
          }

          span {
            color: $light-blue;
            font-size: 14px;
            line-height: 1;

            &:first-of-type {
              color: $white;
              font-size: 12px;
              line-height: 1.2;
            }
          }
        }

        &__submit {
          width: 100%;
          height: 50px;
          margin-top: 40px;
          background-color: $red;
          color: $white;
          font-size: 14px;
          cursor: pointer;
          @include flex-center;
        }

        .error {
          width: 100%;
          margin-top: 8px;
          color: $red;
          font-size: 14px;
        }
      }
    }
  }
}
