.search {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;

  // 詳細検索
  &__detail {
    width: 280px;

    &__container {
      width: 100%;
      background-color: $white;
      margin-top: 40px;
      padding: 16px;

      &__head {
        color: $black;
        font-size: 16px;
        line-height: 1;
        font-weight: bold;
      }

      &__group {
        width: 100%;
        margin-top: 36px;

        &:first-of-type {
          margin-top: 24px;
        }

        &__head {
          i {
            color: #888;
            font-size: 16px;
          }

          span {
            color: $black;
            font-size: 14px;
            font-weight: bold;
          }
        }

        &__field {
          width: 100%;
          height: 48px;
          margin-top: 4px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
          @include focus-field;
        }

        &__price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 4px;

          &__minifield {
            display: inline-block;
            width: 46%;
            height: 48px;
            margin-top: 4px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
            @include focus-field;
          }
        }

        &__select {
          position: relative;
          display: none;
          width: 100%;
          margin-top: 8px;

          &:first-of-type {
            display: block;
            margin-top: 4px;
          }

          select {
            display: block;
            width: 100%;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $white;;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include focus-field;
          }

          &:after {
            position: absolute;
            display: block;
            font-family: "Font Awesome 5 Free";
            content: '\f078';
            width: 20px;
            height: 16px;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            color: #888;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
          }
        }

        &__check {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;

          &__box {
            display: inline-flex;
            align-items: center;
            width: 48%;
            margin-top: 16px;

            &:nth-of-type(2n) {
              margin-left: 4%;
            }

            input[type="checkbox"] {
              display: none;

              &:checked + label:before {
                font-family: "Font Awesome 5 Free";
                content: '\f00c';
                background-color: #0099E8;
                color: $white;
                font-size: 12px;
                line-height: 1;
                font-weight: bold;
                @include flex-center;
              }
            }

            label {
              position: relative;
              padding-left: 28px;
              font-size: 14px;
              line-height: 1;

              &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                display: inline-block;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $white;
                border: 1px solid #ccc;
                border-radius: 3px;
              }
            }
          }
        }

        .category-bottom {
          display: none;
        }
      }

      &__button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 40px;

        button {
          width: 45%;
          height: 50px;
          background-color: #aaa;
          color: $white;
          font-size: 14px;
          cursor: pointer;
          outline: 0;
        }

        input {
          width: 45%;
          height: 50px;
          background-color: $red;
          color: $white;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }

  // 詳細検索結果
  &__result {
    width: 700px;

    &__head {
      margin-bottom: 8px;
      color: $black;
      font-size: 22px;
      line-height: 1.4;
    }

    &__description {
      margin-top: 16px;
      color: $black;
      font-size: 14px;
      line-height: 1.5;
    }

    &__new {
      margin: 24px 0 8px;
      color: $black;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.4;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .card {
        width: 160px;
        height: 270px;
        margin: 0 0 20px 20px;

        &:nth-of-type(4n+1) {
          margin-left: 0;
        }

        &__photo {
          height: 160px;
        }

        &__body {
          &__content {
            &__like {
              span {
                margin-left: 4px;
              }
            }

            &__price {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
